@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* basic styling */
body {
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #EAE0D5;
}

h3 {
    font-size: 2em;
}

p {
    padding: 12px;
    font-size: 1.2em;
    line-height: 1.5em;
}

p {
    background-color: white;
}

/* header */
.header {
    padding-bottom: 50px;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }

.disclaimer {
    display: none;
}

h2 {
    background-color: #C6AC8F;
    padding: 20px;
    margin: 0;
}

.video {
    width: 75%;
    margin: 12px;
    padding-top: 20px;
}

/* button style*/
.button {
    background-color: #C6AC8F;
    text-decoration: none;
    padding: 8px;
    color: black;
}

.button:hover{
    background-color: #22333B;
    color: white;
}

/* nav */
.main-nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0; 
    overflow: hidden;
    background-color: #22333B;
}

.main-nav li {
    float: left;
    padding: 18px;
}

.main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-nav li a:hover {
    background-color: #EAE0D5;
    color: black;
}

.main-nav li a:active {
    background-color: #144c75;
}

/* img */

.img1 {
    margin: 0;
}

/* paragraph */
.container {
    display: flex;
}


/* Small */
@media (max-width: 700px) {
    
    .menuItem {
        display: block;
        margin: 2rem 4rem;
        font-size: 1.8rem;
        color: white;
        text-decoration: none;
      }
      
      .menuItem:hover {
        text-decoration: underline;
      }
      
      .hamburger {
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: black solid 1px;
        background: white;
        cursor: pointer;
        height: 50px;
        width: 100px;
      }
      
      .closeIcon {
        display: none;
      }
      
      .menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: black;
        color: white;
        list-style: none;
        padding-top: 4rem;
      }
      
      .showMenu {
        transform: translateY(0);
      }

      h2, p {
        width: 100%;
      }

      .para1 {
        margin-top: 500px;
        margin-left: -290px;
      }

      .para1 p {
        width: 100%;
      }

}


/* Medium */
@media (min-width: 700px) and (max-width: 1080px) {
    .hamburger {
        display: none;
    }

    .hide-me {
        display: none;
    }

}

@media (min-width: 1080px) {
    .hamburger {
        display: none;
    }
}
